body{
  background-color: rgba(85, 83, 83, 0.425);

}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Adjust the gap between photos as needed */
  }
  
  .photo-grid img {
    width: 100%;
    height: auto;

  }
  